@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Krona+One&display=swap');

*{
  font-size: 12px;
  font-family: "Krona One", system-ui;
  font-weight: 400;
  font-style: normal;
}

h1{
  font-size: 48px;
  text-align: center;
}
.parent-container {
    display: flex;
    justify-content: center;
    align-items: center;
}


.rounded-t-5 {
      border-top-left-radius: 0.5rem;
      border-top-right-radius: 0.5rem;
    }

    @media (min-width: 992px) {
      .rounded-tr-lg-0 {
        border-top-right-radius: 0;
      }

      .rounded-bl-lg-5 {
        border-bottom-left-radius: 0.5rem;
      }
    }